
  <!-- <mat-form-field id="searchBar" appearance="fill">
    <mat-label>Search</mat-label>
    <input id="searchInput" type="text" matInput [(ngModel)]="cakeName"/>
  </mat-form-field>
  <button type="button" (click)="searchInput()" mat-icon-button>
    <mat-icon id="icon">search</mat-icon>
  </button> -->

<!-- 
<form class="example-form">
  <mat-form-field class="example-full-width">
  <span matPrefix> </span>
  <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "cakeName"/>
  <button matSuffix mat-button><mat-icon >search</mat-icon></button>
  </mat-form-field>
  
  </form> -->

  <div>
    <input type="text" placeholder="Search" [(ngModel)]="cakeName">
    <button (click)="searchInput()">Search</button>
  <div>